<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else noReservations" class="reservation-list">
  <li *ngFor="let reservation of reservations">
    <h3>Guest: {{ reservation.guestName }}</h3>
    <p>Email: {{ reservation.guestEmail }}</p>
    <p>Room No: {{ reservation.roomNumber }}</p>
    <p>Check-In: {{ reservation.checkInDate }}</p>
    <p>Check-Out: {{ reservation.checkOutDate }}</p>
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/edit', reservation.id]">Edit</button>
  </li>
</ul>

<ng-template #noReservations>
  <p>No reservations available.</p>
</ng-template>
